#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#dialog {
  background-color: white;
  opacity: 1.0;

}

#tooltip {
  position: absolute;
/*  background: black;*/
  opacity: 0.9;
/*  z-index: 10;*/
  display: none;
  border-radius: 8px;
  padding: 2px;
  box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
